.top-places-bg-card{
    background-image: url("https://i.pinimg.com/736x/cd/19/8c/cd198c4c0f9d06d343f61e6be90accd3.jpg");
    min-height: 100vh;
    background-size: cover;
}
.top-places-main-heading{
    color: white;
    font-size: 30px;
    width: 80%;
    padding: 25px;
    font-weight: bold;
    font-family: "Roboto";
    display: inline-block;
}
.top-places-card{
    background-color: white;
    border-radius: 15px;
    padding: 30px;
    margin: 30px;
}
.top-places-card-heading{
    color: rgb(3, 3, 97);
    font-family: "Roboto";
    font-size: 30px;
    font-weight: bold;
}
.top-places-card-paragraph{
    color: rgba(3, 50, 92, 0.801);
    font-family: "Roboto";
    font-size: 15px;
}
.top-places-card-img{
    height: 100px;
    width: 100px;
    padding: 5px;
    margin: 15px;
    border-color: rgb(143, 56, 6);
    border-style: solid;
    border-width: 3px;
    border-radius: 15px;
    transition: 0.4s;
}
.top-places-card-img:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.detail-page-botton{
    height: 27px;
    width: 95px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-color: #702c05;
    color: #ffffff;
    border-radius: 5px;
    border-width: 0px;
}
.detail-page-botton:hover{
    cursor: pointer;
    font-weight: 500;
    text-decoration: none;
    color: #702c05;
    background-color: #ffffff;
    border-color: #702c05;
    border-style: solid;
    border-width: 2px;
    transition: 0.3s;
}

.home-button{
    line-height: 30px;
    width: 100px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-color: #702c05;
    color: white;
    border-radius: 15px;
    border-color: #ffffff;
    border-style: solid;
    border-width: 3px;
    margin: 20px;
    transition: 0.3s;
}
.home-button:hover{
    cursor: pointer;
    font-weight: 500;
    text-decoration: none;
    color: #702c05;
    background-color: white;
    border-color: #702c05;
    border-style: solid;
    border-width: 3px;
    transform: scale(0.9);
}

