.bg-card{
    background-image: url("https://wallpapercave.com/wp/wp4069436.jpg");
    height: 100vh;
    background-size: cover;
}
.card{
    text-align: center;
    background-color: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 15px;
}
.main-heading{
    color: black;
    font-family:"Roboto";
    font-size: 36px;
    font-style: normal;
}
.paragraph{
    color: gray;
    font-size: 20px;
}
.btn{
    height: 36px;
    width: 125px;
    background-color: #25b1cc;
    color: white;
    border: none;
    border-radius: 25px;
}
