.bg-card{
    background-image: url("https://wallpapercave.com/wp/wp4069436.jpg");
    height: 100vh;
    background-size: cover;
}
.tourism-card{
    text-align: center;
    background-color: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 15px; 
}
.main-heading{
    font-family:"Roboto";
    font-size: 36px;
    font-style: normal;
    font-weight: bold;
}
.paragraph{
    color: #333;
    font-weight: 500;
    font-size: 20px;
}
.button{
    height: 36px;
    width: 125px;
    background-color: #000b6e;
    color: white;
    border: none;
    border-radius: 25px;
}